* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-size: 100%;
}

a {
    color: white;
    text-decoration: none;
}

#container {
    position: relative;
}

header {
    display: grid;
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: crimson;
    justify-items: end;
    align-items: center;
    z-index: 100;
}

header #navbar {
    height: 100%;
}

header ul {
    display: flex;
    list-style: none;
    height: 100%;
}

header li {
    padding: 0 3vw;
    transition: background-color .5s .2s ease-out;
    cursor: pointer;
}

header li:hover {
    background-color: #45567d;
}

header li a {
    padding-top: .8em;
    height: 100%;
    display: block;
    font-size: larger;
    font-weight: 500;
    transition: transform .4s .3s ease-in;
}

header li:last-child a:hover {
    transform: rotate(4deg);
    font-weight: bold;
    font-size: 130%;
}

header li:nth-child(2) a:hover {
    transform: rotate(-4deg);
    font-weight: bold;
    font-size: 130%;
}

header li:nth-child(1) a:hover {
    transform: rotate(4deg);
    font-weight: bold;
    font-size: 130%;
}

/* Welcome Section */
#welcome-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    text-align: center;
    background-color: #2f2f2f;
    font-size: 200%;
}

#welcome-section h1 {
    /* The text should be at the bottom of the row*/
    align-self: flex-end;
    color: white;
}

#welcome-section p {
    /* The text should be at the top of the row*/
    align-self: baseline;
    color: crimson;
}

#welcome-section #developer {
    color: #45567d;
}

#welcome-section #friend {
    color: burlywood;
}

/* END Welcome Section */


/* Prjects Section */
#projects {
    display: grid;
    background-color: #45567d;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

#projects h2 {
    grid-area: 1/1/2/2;
    justify-self: center;
    color: white;
    border-bottom: 2px solid white;
    font-size: 250%;
}

#projects ul {
    margin: auto;
    list-style: none;
    display: grid;
    grid-area: 2/1/3/2;
    grid-template-columns: repeat(3, 23vw);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 2em;
}

#projects ul li figure {
    width: 100%;
    height: 100%;
}

#projects ul figure img {
    width: 100%;
    height: 90%;
}

#projects ul figure figcaption {
    height: 10%;
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    padding: .55em;
    font-weight: 500;
}

#projects button {
    margin: auto;
    width: 10%;
    max-width: 250px;
    padding: .3em 1em;
    grid-area: 3/1/4/2;
    background-color: #2f2f2f;
    color: white;
}